body {
    background-color: rgb(252, 220, 0);;
}

h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 100px;
    top: 20px;
    padding: 0%;
}

h2 {
    color: blueviolet;
}

.github {
  position: fixed;
  bottom: 20px;
  right: 50px;
  color: white;
  
}

.mail {
    color: rebeccapurple;
}
