body {
    background-color: rgb(252, 220, 0);;
    
    
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: black;
    margin-top: -10px;
    margin-bottom: 5px;
    
    
}

h2 {
    color: blueviolet;
}

.github {
  position: fixed;
  bottom: 20px;
  right: 50px;
  color: white;
  
}

.mail {
    color: rebeccapurple;
}

span {
    display: inline-block;
    font-size: 50px;
    /*new:*/
    font-family: 'Times New Roman';
    line-height: 0px;
    height: 35px;
  }