body {
    margin: 0;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #fff8f0, #eaf2f3);
    min-height: 100vh;
    box-sizing: border-box;
    color: #333;
    font-weight: 300;
  }
  
  .header {
    margin-bottom: 30px;
  }
  
  .Title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: black;
    font-weight: 300;
  }
  
  .content {
    max-width: 800px;
  }
  
  .content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .content li {
    margin: 10px 0;
  }
  
  .content a {
    font-size: 18px;
    text-decoration: none;
    color: #007acc;
    font-weight: 300;
  }
  
  .back-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #007acc;
    font-weight: 300;
  }
  

  .date {
    color: #888;
    font-size: 0.9em;
    margin-right: 10px;
  }
  